<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: Fix the Sitecore Item-Level Language Fallback to contain standard values in the fallback language.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	<pipelines>
	  <getFieldValue>
        <processor type="Sitecore.LanguageFallback.StandardValueFix.GetLanguageFallbackStandardValue" patch:instead="processor[@type='Sitecore.Pipelines.GetFieldValue.GetStandardValue, Sitecore.Kernel']" />
      </getFieldValue>
	</pipelines>
  </sitecore>
</configuration>